.doctor-patient-banner-container {
  text-align: center;
  position: relative;
}

.doctor-patient-banner {
  max-height: 420px;
  object-fit: contain;
  max-width: 100%;
  width: 100%;
}

.doctor-patient-banner-btn {
  position: absolute;
  cursor: pointer;
  background-color: #00415e;
  bottom: 45px;
  left: 68%;
  border-radius: 30px;
  border: 2px solid #fff;
  font-size: 16px;
}
.doctor-patient-banner-btn:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .doctor-patient-banner-btn {
    padding: 5px;
    font-size: 8px;
    bottom: 20px;
  }
}
