.trending-cures__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #000;
  margin-bottom: 1rem;
}

.trending-cures__card {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
.trending-cures__card::-webkit-scrollbar {
  display: none;
}
.trending-cures__image {
  height: 78px;
  width: 78px;
  border-radius: 39px;
}
.trending-cures__heading {
  text-align: center;
  color: #000;
  font-size: 0.625rem;
  font-weight: 500;
  margin-top: 3px;
  margin-bottom: 3px;
}

@media (min-width: 768px) {
  .trending-cures__title {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .trending-cures__heading {
    font-size: 1.25rem;
    margin-top: 6px;
  }
  .trending-cures__image {
    height: 150px;
    width: 150px;
    border-radius: 75px;
  }
  .trending-cures__card {
    justify-content: space-around;
  }
}
