@media only screen and (max-width: 768px) {
    .webs{
         flex-direction:column;
        justify-content: center;
    }
  }
.textTruncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
   
  }


  
